@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  width: 15px;
  scale: 1.4;
  filter: invert(100%);
}

.myFont {
  font-family: "Roboto Condensed", sans-serif;
}

.handwriting {
  font-family: "Great Vibes", cursive;
}

.fadeIn {
  animation: 1.5s fadeIn ease-out;
}

@keyframes fadeIn {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
